$primary: #fff;
$secondary: #fff;

$background_color: $primary;
$text_color: #000;

$header_color: $primary;
$active_users: $primary;
$chat_container: $primary;
$navbar_color: $secondary;
$chat_screen: $secondary;
